@charset "utf-8";
#displayed_video {
    width: 100vw;
    height: 100vh;
	object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}
.centered_text {
    position: relative;
    text-align: center;
	justify-content: center;
	margin-top: 50vh;
}
#truism {
    color: #D1D1D1;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: italic;
    font-variant: small-caps;
	cursor: default;
}
